<div id="recipez-editor">
  <div class="recipez-editor-head"><%= headerText %></div>
  <div class="recipez-editor-body">
    <%= body %>
    <div class="recipez-editor-body-contents hidden"></div>
    <div class="buttons">
      <div id="add-btn" class="button hidden disabled">Add</div>
      <div id="next-btn" class="button disabled">Next</div>
    </div>
  </div>
</div>
