<div id="recipez-editor">
  <div class="recipez-editor-head"></div>
  <div class="recipez-editor-body">
    <span class="editor-section title hidden">
      Highlight the title of the recipe. Click the <span class="button-label">&#8594;</span>
      button when you are done.
    </span>
    <span class="editor-section ingredients hidden">
      Highlight ingredients, then click the <span class="button-label">Add</span> button.
      When all ingredients have been added, click the <span class="button-label">&#8594;</span>
      button to continue.
      <span class="contents-label">Selected ingredients:</span> 
    </span>
    <div class="recipez-editor-body-contents hidden"></div>
    <div class="buttons">
      <div id="back-btn" class="button disabled">&#8592;</div>
      <div id="add-btn" class="button disabled">Add</div>
      <div id="done-btn" class="button disabled">Done</div>
      <div id="next-btn" class="button disabled">&#8594;</div>
    </div>
  </div>
</div>
