<div id="recipez-review">
  <div class="recipez-review-head">
    Review Your Recipe
  </div>
  <div class="recipez-review-body">
    <div class="recipez-review-sections">
      <%= sections %>
    </div>
    <div class="recipez-review-content">
      Review the content of the recipe above. If anything is wrong, click the <span class="button-label">Back</span>
      button to go back and correct it. If there are no errors, click the <span class="button-label">Next</span>
      button to continue!
    </div>
    <div class="buttons">
      <div id="review-back-btn" class="button">Back</div>
      <div id="review-next-btn" class="button">Next</div>
   </div>
  </div>
</div>
