<% if (error) { %>
  <div class="error"><%= error %></div>
<% } %>

<div id="recipe-form">
  <form class="recipe-form" method="post">
    <div class="input-label">Enter Recipe URL To Get Started:</div>
    <div>
      <input type="text" name="url">
    </div>
    <div>
      <button class="submit-btn" type="submit">Go!</button>
    </div>
  </form>
</div>
