body, #recipe-form {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

#recipe-parser {
  width: 65%;
  height: 40%;
  border: 1px dashed #CCC;
  margin: auto;
  padding: 12px;
}

#parse-widget {
  width: 200px;
  position: fixed;
  background-color: #EEE;
  padding: 12px;
  top: 20px;
  right: 20px;
}

.button {
  margin: 18px 4px 4px 4px;
}

.user-text {
  margin-top: 12px;
}

.label {
  text-transform: uppercase;
  margin-top: 18px;
}

.widget-contents {
  background-color: #FFF;
  border: 1px dashed #CCC;
  padding: 8px 0;
  margin: 8px 0;
  min-height: 20px;
  max-height: 350px;
  overflow-y: scroll;
}

.buttons {
  text-align: center;
}

.highlight {
  background-color: #DDD;
  padding: 0 8px;
  -webkit-border-radius: 20px;
}

.highlighted {
  background-color: #FFFA70;
}

#parse-widget ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

#parse-widget li {
  padding-left: 1em;
  text-index: -1em;
  cursor: pointer;
}

#parse-widget li:before {
  content: "\2022";
  padding-right: 5px;
  width: 12px;
  height: 16px;
  text-align: center;
}

#parse-widget li:hover:before {
  content: "\e800";
  color: #A81D22;
}

.icon:before {
  font-family: 'fontello';
  display: inline-block;
  text-decoration: none;
  speak: none;
}
