html, body, .recipe {
  height: 100%;
}

.recipe {
  font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
}

.recipe-body {
  padding-top: 10px;
}

.recipe-panel {
  height: 100%;
  float: left;
  font-size: 13px;
}

.recipe-panel.left {
  width: 40%;
}

.recipe-panel.right {
  width: 60%;
}

.recipe-panel h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #4FB5B3;
  padding: 2px;
  text-align: center;
  color: #EEE;
}

.recipe-panel h3.step-number {
  background-color: #A81D22;
}

.recipe-ingredients,
.recipe-steps,
.recipe-current-step {
  background-color: #EEE;
  margin: 0 10px 0 10px;
}

.recipe-steps {
  overflow: hidden;
}

.recipe-ingredients ul,
.recipe-steps ol {
  font-family: 'Helvetica', sans-serif;
  z-index: 1;
}

.recipe-ingredients ul {
  padding: 10px 10px 18px 40px;
}

.recipe-steps-header {
  height: 35px;
  width: 100%;
  position: relative;
  z-index: 999;
}

.recipe-current-step {
  margin-left: 0;
  height: 70%;
  min-height: 70%;
}

.steps-panel {
  height: 100%;
}

.hidden {
  display: none;
}

.button.hidden {
  display: none;
}

.recipe-title {
  text-transform: uppercase;
  margin-bottom: 8px;
  padding-left: 18px;
}

.recipe-source {
  margin: 0;
  padding-left: 18px;
  font-size: 18px;
}

.step-text {
  font-size: 32px;
  display: inline-block;
  padding: 18px;
}

.recipe-buttons {
  text-align: center;
}

.button.done-btn {
  background-color: #A81D22;
}

.button.done-btn:hover {
  background-color: #D30C13;
}

.recipe-steps ol {
  margin: 8px 0 0 0;
  position: relative;
}

.recipe-steps li {
  padding: 10px;
  margin: 0 18px 0 0;
}

.highlighted {
  font-weight: bold;
  border: 1px dashed #666;
  background-color: #CCC;
}

.recipe-image {
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  display: none;
}

.button {
  background-color: #2A9AAE;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-width: 70px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  color: #EEE;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #4FB5B3;
}

.button.disabled {
  background-color: #AAA;
  cursor: default;
}

.recipe-meter-container {
  padding-bottom: 10px;
}

.recipe-meter {
  height: 28px;
  background-color: #EEE;
  padding: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.meter-label {
  text-transform: uppercase;
  padding: 8px 10px
}

.start-panel {
  text-align: center;
}

.restart-btn,
.start-btn {
  width: 200px;
  height: 30px;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #A81D22;
}

.restart-btn:hover,
.start-btn:hover {
  background-color: #D30C13;
}

.done-panel {
  height: 100%;
  text-align: center;
}
