html, body, .recipe {
  height: 100%;
}

.recipe {
  font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
}

.recipe-header {
  height: 15%;
}

.recipe-panel {
  width: 50%;
  height: 100%;
  float: left;
  font-size: 13px;
}

.recipe-panel h3 {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #4FB5B3;
  padding: 2px;
  text-align: center;
  color: #EEE;
}

.recipe-panel h3.step-number {
  background-color: #A81D22;
}

.recipe-ingredients,
.recipe-steps,
.recipe-current-step {
  background-color: #EEE;
  padding: 10px;
  margin: 10px;
}

.recipe-current-step {
  margin-left: 0;
  height: 70%;
}

.recipe-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-transform: uppercase;
}

.step-text {
  font-size: 32px;
  display: inline-block;
  padding: 18px;
}

.step-image {
  display: none;
  background-image: url('/static/images/plate-and-utensils.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 80px;
  height: 220px;;
  width: 325px;
  opacity: 0.7;
}

.recipe-current-step.complete {
  text-align: center;
}

.recipe-current-step.complete .step-text {
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.recipe-current-step.complete .step-image {
  display: inline-block;
}

.recipe-buttons {
  text-align: center;
}

.button.done-btn {
  background-color: #A81D22;
}

.button.done-btn:hover {
  background-color: #B65559;
}

.recipe-steps ol {
  margin: 0;
}

.recipe-steps li {
  padding: 10px;
  margin-left: -18px;
}

.highlighted {
  font-weight: bold;
  border: 1px dashed #666;
  background-color: #CCC;
}

.recipe-image {
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  display: none;
}

.button {
  background-color: #2A9AAE;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-width: 70px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  color: #EEE;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #4FB5B3;
}

.button.hidden {
  display: none;
}

.button.disabled {
  background-color: #AAA;
  cursor: default;
}

.recipe-meter-container {
  padding-bottom: 10px;
}

.recipe-meter {
  height: 28px;
  background-color: #EEE;
  padding: 6px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-right: 10px;
}

.meter-label {
  text-transform: uppercase;
  padding-bottom: 8px;
  padding-left: 10px;
}
