body {
  font-family: 'Railway', sans-serif;
}

.recipe-steps,
.recipe-current-step,
.recipe-buttons {
  width: 45%;
  float: left;
}

.recipe-current-step {
  margin-left: 18px;
  height: 400px;
  font-size: 24px;
}

.recipe-title {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  text-transform: uppercase;
  padding-left: 18px;
}

.recipe-source {
  padding-left: 18px;
  margin-bottom: 24px;
}

.recipe-buttons {
  text-align: center;
}

.recipe-steps ol {
  margin: 0;
}

.recipe-steps li {
  margin-bottom: 18px;
  padding: 10px;
}

.highlighted {
  font-weight: bold;
  border: 1px dashed #666;
  background-color: #C2F5CE;
}

.recipe-image {
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  display: none;
}

.button {
  background-color: #2A9AAE;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  min-width: 60px;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  color: #FFF;
  font-size: 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:hover {
  background-color: #4FB5B3;
}

.button.disabled {
  background-color: #AAA;
  cursor: default;
}
